*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
/* HEADER  */
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.297);
    margin: auto 180px;
}
.left{
    display: flex;
    align-items: center;
  
}
.left p{
    font-size: 12px;
    padding: 10px 10px;
    color: grey;
    box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.297);
}
.right{
    display: flex;
    justify-content: space-evenly;
}
.right a{
    font-size: 12px;
    padding: 10px 15px;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.582);
    box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.273);
}
.right a:hover {
    background-color: red;
    color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 180px;
    padding: 10px 0px;
}
.nav h1{
    color: red;
    font-size: 40px;
}
.nav ul{
    display: flex;
}
.nav ul li{
   list-style-type: none;
}
.nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(80, 76, 76);
    padding: 0px 16px;
}
ul li a.action{
    background-color: red;
    color: white;
    padding: 29px 15px;
    
}
 ul li a.home1:hover{
    background-color: red;
    border: 1px solid;
    color: white;
    padding: 29px 15px;
}
header .nav i{
    display: none;
}
/* HEADER END */

/* section 1 :start */
.tophead{
    background-image: url(../img/banner.jpg);
    margin-top: 70px;
}
.tophead h1{
    padding: 45px 0px;
    margin: 0px 180px;
    color: white;
    font-size: 40px;
    font-weight: 200;
}
/* section 1 end */

/* section 2 start */
.maincontact{
    margin: 0px 180px;
}
.maincontactbox{
    display: flex;
    justify-content: space-evenly;
}
.headcontact{
    text-align: center;
    margin: 80px auto;
}
.headcontact h1{
    font-size: 50px;
    font-weight: 100;
}
.headcontact p{
    font-size: 20px;
}
.leftbox{
    width: 50%;
}
input{
    width: 100%;
    height: 57px;
    margin-bottom: 30px;
    border: 2px solid black;
}
input:focus{
    box-shadow: 0px 0px 2px 2px rgb(65, 166, 206);
    
}
.leftbox input::placeholder{
    padding-left: 20px;   
}
.rightbox{
    width: 50%;
    margin-left: 30px;
}
.rightbox textarea{
    width: 100%;
    border: 2px solid black;
}
textarea:focus{
    box-shadow: 0px 0px 2px 2px rgb(65, 166, 206);
}
.rightbox textarea::placeholder{
    padding: 20px;
}
.sendbutton{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}
.sendbutton a button{
    background-color: red;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.sendbutton a button:hover{
    background-color: transparent;
    border: 1px solid red;
    color: red;
}
/* section 2 end */

/* footer section */
footer{
    border: 1px solid black;
    background-color: #222222;

}
.mainfooter{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto 100px;
}
.foot h4{
    margin-top: 50px;
    color: rgb(190, 183, 183);
}
.foot p{
    margin-top: 15px;
    color: rgba(133, 132, 132, 0.92);
}
.foot1{
    width: 230px;
    height: 200px;
    font-size: 14px;
}
.foot1 span:hover{
    color: red;
}
 .color :hover{
    color: red;
}
.foot2{
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.footleft i{
    font-size: 30px;
}
.footright{
    padding-left: 10px;
}
.footright span{
    color: red;
    font-size: 10px;
    padding-top: 20px;
}
.footleft i{
    font-size: 35px;
}
.foot3{
    width: 230px;
    height: 200px;
    font-size: 14px;
}
.foot3 input{
    width: 230px;
    height: 25px;
    border: none;
}
.foot3 button{
    margin-top: 3px;
    padding: 10px 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.foot3 button:hover{
    background-color: transparent;
    color: red;
    border: 1px solid red;
}
.foot4{
    width: 230px;
    height: 200px;
}
.foot4 .top1 img{
    width: 50px;
    margin-top: 15px;
}
.foot4 .top2 img{
    width: 50px;
}
.mainbottom{
    background: #1d1d1d;
}
.bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto 180px;
}
.botleft p{
    color: rgba(133, 132, 132, 0.92);
    padding: 20px 0px;
    font-size: 12px;
}
.botleft a{
    text-decoration: none;
    color: rgba(133, 132, 132, 0.92);
}
.botleft a:hover{
    color: red;
}
.botright ul{
    display: flex;
}
.botright ul li{
    list-style-type: none;
}
.botright ul li a{
    text-decoration: none;
    color: rgba(133, 132, 132, 0.92);
    padding: 20px 5px;
    font-size: 10px;
}
.botright ul li .home{
    color: white;
}
.botright .home:hover{
    color: red;
}
.botright a:hover{
    color: red;
}
/* footer section end */


@media screen and (min-width:0px) and (max-width:425px) {
    .navbar{
        display:none;
        margin: 0px 0px;      
    }    
    .nav{
        margin: 0px 0px;
    }
    header .nav i{
        display:block;
        padding-right: 20px;
        font-size: 20px;    
    }
    .nav ul{
        display: none;
    }
    .tophead h1{
        margin: 0px 0px;
    }
    .maincontact{
        margin: 0px 20px;
    }
    .maincontactbox{
        flex-direction: column;
    }
    .leftbox{
        width: 100%;
    }
    .rightbox{
        width: 100%;
        margin-left: 0px;
    }
    .mainfooter{
        margin: 0px 0px;flex-direction: column;
        align-items: center;
    }   
    .bottom{
        margin: 0px 0px;
        flex-direction:column;
        align-items: center;
    }
}