*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
/* HEADER  */
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.297);
    margin: auto 180px;
}
.left{
    display: flex;
    align-items: center;
  
}
.left p{
    font-size: 12px;
    padding: 10px 10px;
    color: grey;
    box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.297);
}
.right{
    display: flex;
    justify-content: space-evenly;
}
.right a{
    font-size: 12px;
    padding: 10px 15px;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.582);
    box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.273);
}

.right a:hover {
    background-color: red;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 180px;
    padding: 10px 0px;
}
.nav h1{
    color: red;
    font-size: 40px;
}
.nav ul{
    display: flex;
}
.nav ul li{
   list-style-type: none;
}
.nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(80, 76, 76);
    padding: 0px 16px;
}
ul li a.action{
    background-color: red;
    color: white;
    padding: 29px 15px;
    
}
 ul li a.home1:hover{
    background-color: red;
    border: 1px solid;
    color: white;
    padding: 29px 15px;
}
header .nav i{
    display: none;
}
/* HEADER END */
/* section1 start */

.banner{ 
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.715),rgba(0, 0, 0, 0.661)),url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;  
    display: flex; 
    justify-content: center;
    align-items: center;
}
.banner1 h1{
    font-size: 50px;
    letter-spacing: 4px;
}
.banner1 p{
    font-size: 25px;
    padding-top: 20px;
    letter-spacing: 3px;
}
.banner h1 span{
    color: red;
}
.banner1 a button{
    margin-top: 50px;
    text-decoration: none;
    background:#ff432e;
    border: 1px solid white;
    padding: 15px 20px;
    color: white;
}
.banner1 a button:hover{
    color: #222222;
    background-color: white;
}
/* section1 :end */

/* .section2 start */
.section2 h1{
    text-align: center;
    margin: 60px auto;
    font-size: 40px;
    font-weight: 200;
}
.aboutleft img{
    width: 420px;
}
.aboutleft{
    position: relative;
}
.aboutleftin{
    position: absolute;
    left: 0;
    bottom: 15%;
    padding: 10px;
    background-color: white;
    margin: 0px 10px;
    font-size: 14px;
}
.aboutleftin span{
    font-size: 17px;
}
.aboutright{
    font-size: 13px;
    margin-left: 30px;
}
.about{
    display: flex;
    flex-direction: row;
    margin: auto 180px;
}
.aboutrightin h3{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 200;
}
.aboutrightin i{
    color: rgb(71, 70, 70);
}
.aboutrightin ul li{
    padding: 3px 0px;
    list-style-type: none;
}
.aboutrightin ul li span{
    padding: 0px 5px;
}
/* .section2 end */

/* section3 start */
.section3{
    background-image: url(../img/call-to.jpg);
    background-size:cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 70px auto;   
}
.center{
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 22px;
    line-height: 35px;
}
/* .section3 end */

/* section4 start */

.teamhead{
    text-align: center;
}
.teamhead h1{
    font-size: 40px;
    font-weight: 100;
}
.mainteam{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 80px 180px;
    overflow: hidden;
}
.team1{
    position: relative;
  }
.details{
    text-align: center;
    width: 270px;
    height:270px;
    background-color: rgba(255, 67, 46, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.details:hover{
    opacity: 1; 
}
.details .detailscontent{
    transition: all 0.5s;
    transform: translateY(80px);
    opacity: 0;
}
.team1:hover .details .detailscontent{
    transform: translateY(0px);
    opacity: 1;
}

.details h1{
    padding-top: 22px;
    font-size: 18px;
    font-weight: 100;
}
.details ul{
    display: flex;
    justify-content:center;
    padding-top: 90px;
    margin: auto 60px;
}

.details ul li{
    list-style-type: none;
    padding: 10px 5px;
}
.details ul li a{
    color: black;
    padding: 5px 9px;
    background-color: white;
}
.details ul li a:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.details .icon{
    transform: translateY(100px);
}
.team1:hover .icon1{
    transition: all 0.5s;
    transform: translateY(0);
}
.team1:hover .icon2{
    transition: all 0.7s;
    transform: translateY(0);

}
.team1:hover .icon3{
    transition: all 0.9s;
    transform: translateY(0);

}
.team1:hover .icon4{
    transition: all 1.2s;
    transform: translateY(0);

}
.team1:hover .icon5{
    transition: all 1.4s;
    transform: translateY(0);

}


/* section 4 end */

/* section 5 start */

.imagehead{
    background-color: #f2fffc;  
    text-align: center;
}
.imagehead h1{
    padding-top: 80px;
    font-size: 40px;
    font-weight: 100;
}
.mainimage{
    margin: auto 170px;
    padding-top: 80px;
    padding-bottom: 100px;
    overflow: hidden;
}
.images{
    display: flex;
    flex-direction: row;
    position: relative;
}
.image1{
    display: flex;
    flex-direction: row;
    position: relative;
}
.image2{
    display: flex;
    flex-direction: row;
}
.imagedetails{
    text-align: center;
    width: 400px;
    height: 320px;
    text-align: center;
    background-color: rgba(255, 67, 46, 0.8);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.imagedetails:hover{
    opacity: 1;
}
.imgcontent{
    text-align: center;
    display: inline-block;
    align-items: center;
}
.imagedetails .imgcontent{
    transform: translateY(100px);
    transition: all 0.5s;
    opacity: 0;

}
.image1:hover .imagedetails .imgcontent{
    transform: translateY(0px);
    opacity: 1;
}
/* .imagedetails .imgcontent:hover{
    transform: translateY(0px);
    opacity: 1;
} */

.imagedetails h1{
    font-size:20px;
    font-weight: 100;
    padding-top: 30px;
}
.imagedetails p{
    padding-top: 40px;
    text-align: center;
}
.imagedetails a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    padding: 0px 20px;
}
.imgicon i{
    margin-top: 50px;
}
/* section 5 end */

/* section 6 start */
.serviceshead{
    text-align: center;
    margin:70px auto ;
}
.mainservices1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 180px;
    overflow: hidden;
}
.mainservices2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 70px 180px;
    overflow: hidden;
}
.mainservices{
    width: 308px;
    text-align: center;
}
.mainservices p{
    font-size: 14px;
}
.mainservices h3{
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.mainservices a i{
    font-size: 30px;
    color: black;
    border: 2px solid black;
    padding: 36px 40px;
    border-radius: 50%;
    margin: 20px auto;
}
.mainservices a i:hover{
    background-color: red;
    border: none;
    color: white;
    border: 2px solid red;
}
/* section 6 end */

/* section 7 start */
.teamsection{
    background-image: url(../IMG/call-to.jpg);
    background-size: cover;
    background-position: center;
}
.teamwork{
    padding-top: 100px;
    padding-bottom: 100px;

}
.mainteamwork{
    text-align: center;
    color: white;
    margin-top: 30px;
}
.mainteamwork p{
    font-size: 13px;
}
.mainteamwork h4{
    font-size: 15px;
}
.mainteamwork h3{
    padding-bottom: 10px;
    font-size: 12px;
}
.mainteamwork img{
    width: 90px;
    border-radius: 50%;
    margin: 25px auto;
}
/* section 7 end */

/* section 8 start */
.mainclient{
    display: flex;
    justify-content: space-evenly;
    margin: 90px 180px;
    overflow: hidden;
}
.client img{
    border: 1px solid #ccc;
    padding: 25px 29px;
    width: 170px;
}
/* section 8 end */

/* footer section */
footer{
    border: 1px solid black;
    background-color: #222222;

}
.mainfooter{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto 100px;
}
.foot h4{
    margin-top: 50px;
    color: rgb(190, 183, 183);
}
.foot p{
    margin-top: 15px;
    color: rgba(133, 132, 132, 0.92);
}
.foot1{
    width: 230px;
    height: 200px;
    font-size: 14px;
}
.foot1 span:hover{
    color: red;
}
 .color :hover{
    color: red;
}
.foot2{
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.footleft i{
    font-size: 30px;
}
.footright{
    padding-left: 10px;
}
.footright span{
    color: red;
    font-size: 10px;
    padding-top: 20px;
}
.footleft i{
    font-size: 35px;
}
.foot3{
    width: 230px;
    height: 200px;
    font-size: 14px;
}
.foot3 input{
    width: 230px;
    height: 25px;
    border: none;
}
.foot3 button{
    margin-top: 3px;
    padding: 10px 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.foot3 button:hover{
    background-color: transparent;
    color: red;
    border: 1px solid red;
}
.foot4{
    width: 230px;
    height: 200px;
}
.foot4 .top1 img{
    width: 50px;
    margin-top: 15px;
}
.foot4 .top2 img{
    width: 50px;
}
.mainbottom{
    background: #1d1d1d;
}
.bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto 180px;
}
.botleft p{
    color: rgba(133, 132, 132, 0.92);
    padding: 20px 0px;
    font-size: 12px;
}
.botleft a{
    text-decoration: none;
    color: rgba(133, 132, 132, 0.92);
}
.botleft a:hover{
    color: red;
}
.botright ul{
    display: flex;
}
.botright ul li{
    list-style-type: none;
}
.botright ul li a{
    text-decoration: none;
    color: rgba(133, 132, 132, 0.92);
    padding: 20px 5px;
    font-size: 10px;
}
.botright ul li .home{
    color: white;
}
.botright .home:hover{
    color: red;
}
.botright a:hover{
    color: red;
}
/* footer section end */


@media screen and (min-width:0px) and (max-width:425px) {
    .navbar{
        display:none;
        margin: 0px 0px;      
    }    
    .nav{
        margin: 0px 0px;
    }
    header .nav i{
        display:block;
        padding-right: 20px;
        font-size: 20px;    
    }
    .nav ul{
        display: none;
    }
    .banner1 h1{
    font-size: 40px;
    letter-spacing: 2px;
    }
    .section2 h1{
        margin: 30px auto;
    }
    .about{
        margin: 0px 10px;
        flex-direction: column;
        align-items: center;
    }
    .aboutleft img{
        width: 300px;
    }
    .aboutright{
        padding: 0px 5px;
        padding-right: 30px;
    }
   
    .mainteam{
        flex-direction: column;
        margin: 0px 0px;
        align-items: center;
    }
    
    .imagehead{
        margin-top: 30px;
    }
    .mainimage{
        margin: 0px 10px;
    }
    .image1{
        margin-bottom: 10px;
    }
    .images{
        flex-direction: column;
    }
    .image2{
        flex-direction: column;
    }
    .imagedetails{
        height: 320px;
    }
    .imgcontent{
        padding-right: 70px;   
        text-align: center;
    }
    .mainservices1{
        flex-direction: column;
        margin: 0px 0px;
        align-items: center;
    }
    .mainservices{
        padding-bottom: 60px;
    }
    .mainservices2{
        flex-direction: column;
        margin: 0px 0px;
        align-items: center;
    }
    .teamwork{
        padding: 100px 50px;
    }
    .mainclient{
        margin: 90px 0px;
    }
    .client img{
        padding: 25px 0px;
        width: 70px;
    }
    .mainfooter{
        margin: 0px 0px;flex-direction: column;
        align-items: center;
    }
    .bottom{
        margin: 0px 0px;
        flex-direction:column;
        align-items: center;
    }
    .botright ul li a{        
        padding: 0px 5px;        
    }
}